<div class="second">
  <button routerLink="/"><i class='fas fa-home'></i></button>
</div>
<div class="main" *ngIf='book.length; else other'>
  <div class="rows" *ngFor="let b of book; index as i">
    <p (click)="showDetails(b)">{{i+1}}</p>
    <p (click)="showDetails(b)">{{b.isbnNo}}</p>
    <p (click)="showDetails(b)">{{b.title}}</p>
    <div><button (click)="edit(b)" class='fas'>&#xf044;</button></div>
    <div> <button (click)="delete(b.id)" class="material-icons">delete_forever</button></div>
  </div>
</div>
<ng-template #other>
  <h3>No books Please  add Book First</h3>
  <button class="b1" routerLink="/addBook">Add Book</button>
</ng-template>