
  <div class="main ">

    <div class="second">
      <h1>Edit Book</h1>
      <div> 
        <button routerLink='/home'><i class='fas fa-home'></i> Home</button>  
      </div>
    </div>

    <form #bookDetails="ngForm" *ngIf = 'book' (ngSubmit)="bookDetails.form.valid && update()">

      <div class="form-group">
        <label>ISBN Number :</label>
        <input type="text" #isbn="ngModel" pattern="^[0-9]{11}$" 
               [ngClass]="{'is-invalid':bookDetails.submitted && isbn.invalid}" 
               required class="form-control" name="isbnNo" [(ngModel)]='book.isbnNo'>
        <div *ngIf="bookDetails.submitted && isbn.invalid" class="invalid-feedback">
        <small *ngIf="isbn.errors.required">
          ISBN Number is Required
        </small>
        <small *ngIf="isbn.errors.pattern">
          It should be of only 11 character of Numbers.
        </small>
      </div>
        </div>
  
        <div class="form-group">
          <label>Book Name :</label>
          <input type="text" #bookname="ngModel" required 
          [ngClass]="{'is-invalid':bookDetails.submitted && bookname.invalid}" 
          class="form-control" name="title" [(ngModel)]='book.title'>
          <small class="invalid-feedback">Book Name is required</small>
        </div>
  
        <div class="form-group">
        <label>Author Name :</label>
        <input type="text" #authorname="ngModel" 
        [ngClass]="{'is-invalid':bookDetails.submitted && authorname.invalid}" 
        required class="form-control" name="author" [(ngModel)]='book.author'>
        <small class="invalid-feedback">Author Name is required</small>
      </div> 
      <div class="form-group">
        <label>Description :</label>
        <textarea type="text" #description="ngModel" 
        [ngClass]="{'is-invalid':bookDetails.submitted && description.invalid}" 
        required class="form-control" name="description" [(ngModel)]='book.description' rows="10"></textarea>
        <small class="invalid-feedback">Description is required</small>
      </div>

      <button class="btn" type="submit">Update</button>
    </form>
  </div>