<div *ngIf="book">

    <div class="main"> <h2>Book Details :</h2>  
      <button class="b1"  routerLink="/"><i class='fas fa-home'></i></button>     
    </div>

    <div class="first">
        <div><h3>ISBN Number :</h3><h4>{{book.isbnNo}}</h4></div>
        <div><h3>Book Title :</h3><h4>{{book.title}}</h4></div>    
    </div>
  
    <div class="second" >
        <div><h3>Author Name :</h3><h4>{{book.author}}</h4></div>
        <div><h3>Description :</h3><h4>{{book.description}}</h4></div>
    </div>

    <div class="third">
        <button (click)="edit(book)" class='fas'>&#xf044;</button >
    </div>

</div>