.main{
    background-position: right;
    background-image: url('https://media.istockphoto.com/photos/blank-photorealistic-notebook-mockup-on-light-grey-background-picture-id855479008');
    background-repeat: no-repeat;
    background-size:cover;
    height: 550px;
    widows: 300px;
    justify-items: center;
    padding-top: 50px;
    padding-left: 100px;
  }
  
  .butt{
    padding-left: 50px;
    display: flex;
  }
  
  .butt button{
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    color: white;
    background-color:  rgb(8, 134, 35);
    border: solid; 
    border-radius: 7px; 
    border-width: 0px;
  }
  
  .butt button:hover{
    background-color:  rgb(90, 89, 90);
    cursor: pointer;
  }