<div  class="main">
    <div class="butt">
        <button  class="btn btn-primary" routerLink="/addBook">AddBook </button> <br/>
        <button  class="btn btn-primary" routerLink="/listBooks">ListBook</button> 
    </div>
</div>