/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
.header{ 
    display: flex;
    justify-content: space-evenly;
    font-size: 50px;
    color:black;
}

img{
    width: 100px;
    height: 100px;
}

.main{
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
    background-color: rgb(179, 182, 180);
}
.listdetail{
    color: blue;
    background: lightblue;  
    display: flex;
    justify-content: space-evenly;  
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 10px;
    margin-top: 10px;
}  
button{
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    color: white;
    height: 30px;
    background-color:  black;
    border: solid; 
    border-radius: 7px; 
    border-width: 0px;
}  
button:hover{
    background-color:  rgb(90, 89, 90);
    cursor: pointer;
}  
.listmain{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 10px;
} 


